.categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  overflow-y: auto;
  padding: 1rem 0;
  user-select: none;
  gap: 2rem;
  white-space: nowrap;
  margin: 3rem;
}
